-title = 'Listing File Formats'
-meta title: title
-#- source = file_formats_url
-#- caption = ""
-#- caption_twitter = ""
-#-description = ""
-#-thumb = ""
-#-keywords = %w{' '}
-#-meta title: title
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#img_size =  browser.mobile? ? :index : :grande
-#cache ['v1', admin?,  img_size, @file_formats] do
- cache ['v1', admin?,  @file_formats] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for File Formats
          %thead
            %tr
              %th{scope: "col"}<
                Title
              %th{scope: "col"}<
                Notes
              %th{scope: "col"}<
                Actions

          %tbody
            - @file_formats.each_with_index do |file_format, idx|
              %tr{class: "item"}
                %td= file_format.title
                %td= to_text(file_format.notes).truncate(50)

                %td.text-right<
                  = link_to file_format, class: "btn btn-show", title: "Show #{file_format}" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  -if admin?
                    = link_to edit_file_format_path(file_format), class: "btn btn-edit", title: "Edit #{file_format}"  do
                      %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                    = link_to file_format, title: "Delete this File Format" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{file_format}?"} do
                      %i.fa.fa-fw.fa-trash{title: "Trash can"}

        -if admin?
          %nav.index-nav{role:"navigation"}
            = link_to new_file_format_path, class: 'btn btn-success new-link' do
              %i.fa.fa-fw.fa-plus{title: "Plus"}
              New File format
