-title = "Showing  #{@file_format}"
-meta title: title
-cache ['v1', admin?,  @file_format] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Key value pairs for this file_format
          %tbody
            %tr
              %th{scope: "row"}<
                Title
              %td<
                = @file_format.title
            %tr
              %th{scope: "row"}<
                Notes
              %td<
                = @file_format.notes
        %nav.show-nav{role:"navigation"}
          = link_to file_formats_path, class: 'btn btn-info', title: "View the file_formats index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            File Formats
          = link_to edit_file_format_path(@file_format), title: "Edit this file_format", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
