= simple_form_for @browser_reader_version, validate: true, html: {multipart: true, class: 'form-horizontal'}, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input} do |f|
  = f.error_notification
  .form-inputs
    - if params[:browser_reader_id]
      = f.association :browser_reader, selected: params[:browser_reader_id], label: "Application"
    - else
      = f.association :browser_reader, label: "Application"
    = f.input :version 
    = f.input :notes , :as => :pagedown, :input_html => { :preview => true }


  .form-actions
    .form-actions-inner
      = f.button :submit, class: 'btn btn-success'
      - if action_name == 'edit'
        %br
        %br
        = link_to @browser_reader_version, class: 'btn btn-info' do
          %i.fa.fa-fw.fa-eye{title: "Eye"}
          View this browser reader version
      %br
      %br
      = link_to browser_reader_versions_path, class: 'btn btn-info' do
        %i.fa.fa-fw.fa-list{title: "List"}
        View all Application Versions
