-title = 'Listing Application Versions'
-meta title: title
-#- source = browser_reader_versions_url
-#- caption = ""
-#- caption_twitter = ""
-#-description = ""
-#-thumb = ""
-#-keywords = %w{' '}
-#-meta title: title
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#img_size =  browser.mobile? ? :index : :grande
-#cache ['v1', admin?,  img_size, @browser_reader_versions] do
- cache ['v1', admin?,  @browser_reader_versions] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for Application Versions
          %thead
            %tr
              %th{scope: "col"}<
                Application
              %th{scope: "col"}<
                Version
              %th{scope: "col"}<
                Notes
              %th{scope: "col"}<
                Actions

          %tbody
            - @browser_reader_versions.each_with_index do |browser_reader_version, idx|
              %tr{class: "item"}
                %td= browser_reader_version.browser_reader
                %td= browser_reader_version.version
                %td= to_text(browser_reader_version.notes).truncate(50)

                %td.text-right<
                  = link_to browser_reader_version, class: "btn btn-show", title: "Show #{browser_reader_version}" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  -if admin?
                    = link_to edit_browser_reader_version_path(browser_reader_version), class: "btn btn-edit", title: "Edit #{browser_reader_version}"  do
                      %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                    = link_to browser_reader_version, title: "Delete this Application Version" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{browser_reader_version}?"} do
                      %i.fa.fa-fw.fa-trash{title: "Trash can"}

        -if admin?
          %nav.index-nav{role:"navigation"}
            = link_to new_browser_reader_version_path, class: 'btn btn-success new-link' do
              %i.fa.fa-fw.fa-plus{title: "Plus"}
              New Application version
