.results#setups-results
  %header{role: "header"}
    %h2#setups-results-title
      Results
      %span.sr-only ,
      %span.badge= @setups.total_count

  %table.index-table
    %caption.sr-only Results table for setups
    %thead
      %tr
        %th{scope: "col"}<
          Platform 
        %th{scope: "col"}<
          Renderer 
        %th{scope: "col"}<
          Browser Reader 
        %th{scope: "col"}<
          Assistive Technology 
        %th{scope: "col"}<
          File Format
        %th{scope: "col"}<
          Status
        %th{scope: "col"}<
          Capabilities
        %th{scope: "col"}<
          Content Sources
        %th{scope: "col"}<
          Link

    %tbody
      - @setups.each_with_index do |setup, idx|
        %tr{class: "item"}
          %td= setup.platform_version
          %td= setup.renderer_version
          %td= setup.browser_reader_version
          %td= setup.assistive_technology_version
          %td= setup.file_format
          %td= setup.workflow_status
          %td
            -setup.capabilities.each do |c|
              #{c.affordance} : #{c.feature}
              %br
          %td
            -setup.content_sources.each do |c|
              #{c}
              %br
          %td
            =link_to setup_path(setup), class: "btn btn-primary" do
              %i.fa.fa-link
              %span.sr-only Read more
