.results#setups-results
  %header
    %h2#setups-results-title{tabindex: -1}<
      Results
      %span.sr-only ,
      %span.badge= @setups.total_count
      %small
        =link_to request.url do
          %span.sr-only Link to these results
          %i.fa.fa-link.fa-fw

  = search_form_for(@q, url: {controller: :setups, action: :results},  html: {multipart: true, class: 'form-vertical', remote: true}, format: 'js', wrapper: :vertical_form, wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes, radio_buttons: :vertical_radio_and_checkboxes}) do |f|

    %table.index-table.table-responsive
      %caption.sr-only Results table for setups
      %thead
        %tr
          %th{scope: "col"}<
            = sort_link @q, :platform_name, 'Platform'
          %th{scope: "col"}<
            = sort_link @q, :assistive_technology_name, 'Assistive Technology'
          %th{scope: "col"}<
            = sort_link @q, :browser_reader_name, 'Read with'
          %th{scope: "col"}<
            = sort_link @q, :file_format_name, 'File Format'
          %th{scope: "col"}<
            = sort_link @q, :renderer_name, 'Renderer'
          %th{scope: "col"}<
            = sort_link @q, :outputs_count, 'Outputs' #TODO improve perf
          %th{scope: "col"}<
            = sort_link @q, :status_name, 'Status'
          %th{scope: "col"}<
            Action
        %tr
          -#-if admin?
            -#%th<
          %th<
            = f.input  :platform_version_platform_id_eq, as: :select, include_blank: "Any platform", label: false, required: false,
              collection: @platforms.map{|e| [e.title, e.id, {data: {mappings: {assistive_technology_version_assistive_technology_id_eq: e.assistive_technologies.map{|a| a.version_ids}.flatten, browser_reader_version_browser_reader_id_eq: e.browser_readers.map{|a| a.version_ids}.flatten }}}]}
          %th<
            = f.input  :assistive_technology_version_assistive_technology_id_eq, as: :select, include_blank: "Any assistive technology", label: false, required: false,
              collection: @assistive_technologies.map{|e| [e.title, e.id, {data: {mappings: {browser_reader_version_browser_reader_id_eq: e.browser_readers.map{|a| a.version_ids}.flatten, platform_version_platform_id_eq: e.platforms.map{|a| a.version_ids}.flatten }}}]}
          %th<
            = f.input  :browser_reader_version_browser_reader_id_eq, as: :select, include_blank: "Any reader", label: false, required: false,
              collection: @browser_readers.map{|e| [e.title, e.id, {data: {mappings: {assistive_technology_version_assistive_technology_id_eq: e.assistive_technologies.map{|a| a.version_ids}.flatten, file_format_id_eq: e.file_formats.map{|a| a.id}.flatten, renderer_id_eq: e.renderers.map{|a| a.id}.flatten, platform_version_platform_id_eq: e.platforms.map{|a| a.version_ids}.flatten }}}]}
          %th<
            = f.input  :file_format_id_eq, as: :select, include_blank: "Any file format", label: false, required: false,
              collection: @file_formats.map{|e| [e.title, e.id, {data: {mappings: {browser_reader_version_browser_reader_id_eq: e.browser_readers.map{|a| a.version_ids}.flatten}}}]}
          %th<
            = f.input  :renderer_id_eq, as: :select, include_blank: "Any renderer", label: false, required: false,
              collection: @renderers.map{|e| [e.title, e.id, {data: {mappings: {browser_reader_version_browser_reader_id_eq: e.browser_readers.map{|a| a.version_ids}.flatten}}}]}
          %th<
            = f.input  :outputs_id_eq, as: :select, include_blank: "Any outputs", label: false, required: false,
              collection: @outputs
          %th<
            = f.input  :workflow_status_id_eq, as: :select, include_blank: "Any status", label: false, required: false,
              collection: @workflow_status
          %th<
            .btn-group
              = link_to results_setups_path(search_cancel: true), class: 'btn btn-danger btn-sm' do
                %span.sr-only Clear
                %i.fa.fa-fw.fa-close

              - disable_with = "<i id='disable-me' class='fa fa-spinner fa-spin fa-fw'></i>"
              = button_tag type: "submit", class: "btn btn-success btn-sm", data: {disable_with: disable_with} do
                %span.sr-only Search
                %i.fa.fa-fw.fa-search

      %tbody
        - @setups.each_with_index do |setup, idx|
          %tr{class: "item"}
            -#-if admin?
              -#%td= setup.id
            %td= setup.platform_version
            %td= setup.assistive_technology_version
            %td= setup.browser_reader_version
            %td= setup.file_format
            %td= setup.renderer
            %td
              -setup.outputs.uniq.each do |a|
                #{a}
                %br
            %td= setup.workflow_status
            %td
              =link_to setup_path(setup) do
                Learn more
