.results#setups-results
  %header
    %h1#setups-results-title{tabindex: -1}<
      = @setups.total_count.to_s +  " Results were found."

    - if  @setups.count == 0
      - email_address = "msf@mathmlcloud.org."
      - title = url_encode "Math Support Finder Request"
      - body = "Hi Benetech,\n\nWould you please test this setup?\n"
      - body += current_setup_search(@q.base.conditions )
      - body += "\n\n" + request.original_url + "\n\nThanks!"
      - body = url_encode body
      - mailto = "mailto:" + email_address + "?subject=" + title + "&body=" + body

      %h4
        There are no supported results for your search.  Please try changing your parameters.
        If you still can’t find the setup you need, <a href=#{mailto} target="_blank"></a>
        = link_to "email your search", mailto, target: "_blank"
        to request it.
    -else
      - email_address = "msf@mathmlcloud.org."
      - title = url_encode "Math Support Finder Request"
      - body = "Hi Benetech,\n\nWould you please test this setup?\n"
      - body += current_setup_search(@q.base.conditions )
      - body += "\n\n" + request.original_url + "\n\nThanks!"
      - body = url_encode body
      - mailto = "mailto:" + email_address + "?subject=" + title + "&body=" + body
      %p
        Below are technology combinations that make it possible to read digital math content accessibly. Only setups that provide additional accessibility, beyond basic visual display, are listed in the results table.
      %p
        Click on the "Details" button in each respective row to learn more about the exact technology tools and settings are required to read math accessibly using braille,speech, and visual access modes.
        %ul#bulletnest Notes:
        %li
          In efforts to avoid overloading users with data, known setups that do NOT support accessible reading are not listed in the table.
        %li
          If you're not satisfied with your results, search again
        %li
          To learn more about MSF or to read up on Frequently Asked Questions (FAQs), visit
          = link_to "Browse", '/setups/results', target: "_new"
          ,which is also available in the main navigation bar above.
        %li
          If you still have questions, feedback about MSF, or would like more information about a specific setup, <a href=#{mailto} target="_blank"></a>
          = link_to "email us", mailto, target: "_blank"
          with the supporting details.


  = paginate @setups
  = search_form_for(@q, url: {controller: :setups, action: :results},  html: {multipart: true, class: 'form-vertical'}, wrapper: :vertical_form, wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes, radio_buttons: :vertical_radio_and_checkboxes}) do |f|

    = button_tag "Detect my settings", type: "button", id: "detector", class: "detector btn btn-info"

    %table.table.table-responsive.results
      %caption.sr-only Results table for setups
      %thead
        %tr
          %th{scope: "col"}<
            = sort_link @q, :platform_version_platform_title, 'Platform'
          %th{scope: "col"}<
            = sort_link @q, :assistive_technology_version_assistive_technology_title, 'Assistive Technology'
          %th{scope: "col"}<
            = sort_link @q, :browser_reader_version_browser_reader_title, 'Application'
          %th{scope: "col"}<
            = sort_link @q, :file_format_title, 'File Format'
          %th{scope: "col"}<
            = sort_link @q, :renderer_title, 'Required Renderer'
          %th{scope: "col"}<
            = sort_link @q, :outputs_count, 'Outputs' #TODO improve perf
          %th{scope: "col"}<
            = sort_link @q, :status_title, 'Testing Status'
          %th.action{scope: "col"}<
            Action
        %tr
          -#-if admin?
            -#%th<
          %th<
            = f.input  :platform_version_platform_id_eq, as: :select, include_blank: "Any platform", label: false, required: false,
              collection: @platforms.map{|e| [e.title, e.id, {data: {mappings: {assistive_technology_version_assistive_technology_id_eq: e.assistive_technologies.map{|a| a.id}.flatten, browser_reader_version_browser_reader_id_eq: e.browser_readers.map{|a| a.id}.flatten }}}]}
          %th<
            = f.input  :assistive_technology_version_assistive_technology_id_eq, as: :select, include_blank: "Any assistive technology", label: false, required: false,
              collection: @assistive_technologies.map{|e| [e.title, e.id, {data: {mappings: {browser_reader_version_browser_reader_id_eq: e.browser_readers.map{|a| a.id}.flatten, platform_version_platform_id_eq: e.platforms.map{|a| a.id}.flatten }}}]}
          %th<
            = f.input  :browser_reader_version_browser_reader_id_eq, as: :select, include_blank: "Any application", label: false, required: false,
              collection: @browser_readers.map{|e| [e.title, e.id, {data: {mappings: {assistive_technology_version_assistive_technology_id_eq: e.assistive_technologies.map{|a| a.id}.flatten, file_format_id_eq: e.file_formats.map{|a| a.id}.flatten, renderer_id_eq: e.renderers.map{|a| a.id}.flatten, platform_version_platform_id_eq: e.platforms.map{|a| a.id}.flatten }}}]}
          %th<
            = f.input  :file_format_id_eq, as: :select, include_blank: "Any file format", label: false, required: false,
              collection: @file_formats.map{|e| [e.title, e.id, {data: {mappings: {browser_reader_version_browser_reader_id_eq: e.browser_readers.map{|a| a.id}.flatten}}}]}
          %th<
            = f.input  :renderer_id_eq, as: :select, include_blank: "Any renderer", label: false, required: false,
              collection: @renderers.map{|e| [e.title, e.id, {data: {mappings: {browser_reader_version_browser_reader_id_eq: e.browser_readers.map{|a| a.id}.flatten}}}]}
          %th<
            = f.input  :outputs_id_eq, as: :select, include_blank: "Any outputs", label: false, required: false,
              collection: @outputs
          %th<
            = f.input  :workflow_status_id_eq, as: :select, include_blank: "Any status", label: false, required: false,
              collection: @workflow_status
          %td.action<
            - disable_with = "<i id='disable-me' class='fa fa-spinner fa-spin fa-fw'></i>"
            = button_tag type: "submit", class: "btn btn-success btn-sm", data: {disable_with: disable_with} do
              %i.fa.fa-fw.fa-search
              Search
            = link_to results_setups_path(search_cancel: true), role: "button", class: 'btn btn-danger btn-sm' do
              %i.fa.fa-fw.fa-refresh
              Clear 


      %tbody
        - @setups.to_a.uniq.each_with_index do |setup, idx|
          -klass = "item "
          -klass += setup.workflow_status.css_class
          %tr{class: klass}
            -#-if admin?
              -#%td= setup.id
            %td= setup.platform_version
            %td= setup.assistive_technology_version
            %td= setup.browser_reader_version
            %td= setup.file_format
            %td= setup.renderer
            %td<
              -setup.outputs.uniq.each do |a|
                #{a}
                %br
            %td<
              = raw setup.workflow_status.label
              %br
              %small<
                on
                %time= setup.updated_at.strftime("%a, %d %b %Y")
            %td.action<
              =link_to setup_path(setup), class: 'btn btn-primary' do
                Details