.well.well-sm#simple-search
  %h2 
    Find a setup or 
    = link_to setups_path(format: :js), remote: true do
      browse
      

  -#= search_form_for(q, html: {multipart: true, class: 'form-vertical', remote: true}, format: 'js', wrapper: :vertical_form, wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes, radio_buttons: :vertical_radio_and_checkboxes}) do |f|
  = search_form_for(q, html: {multipart: true, class: 'form-vertical', remote: true}, format: 'js', wrapper: :vertical_form, wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes, radio_buttons: :vertical_radio_and_checkboxes}) do |f|

    .form-inputs
      = f.input  :browser_reader_version_browser_reader_id_eq, collection: @browser_readers, as: :select, prompt: "Pick your browser reader", label: "Browser Reader", required: false
      = f.input  :assistive_technology_version_assistive_technology_id_eq, collection: @assistive_technologies, as: :select, prompt: "Pick your assistive technology", label: "Assistive Technology", required: false
      = f.input  :file_format_id_eq, collection: @file_formats, as: :select, prompt: "Pick your file format", label: "File Format", required: false
    = f.button :submit, class: 'btn btn-success'
