-title = 'Listing setups'
-meta title: title
-#- source = setups_url
-#- caption = ""
-#- caption_twitter = ""
-#-description = ""
-#-thumb = ""
-#-keywords = %w{' '}
-#-meta title: title
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#img_size =  browser.mobile? ? :index : :grande
-#cache ['v1', admin?,  img_size, @setups] do
- cache ['v1', admin?,  @setups] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        = paginate @setups
        %table.index-table
          %caption.sr-only Index table for Setups
          %thead
            %tr
              %th{scope: "col"}<
                Platform 
              %th{scope: "col"}<
                Assistive technology 
              %th{scope: "col"}<
                Read with
              %th{scope: "col"}<
                File format
              %th{scope: "col"}<
                Renderer
              %th{scope: "col"}<
                Workflow status
              %th{scope: "col"}<
                Actions

          %tbody
            - @setups.each_with_index do |setup, idx|
              - klass = "item "
              - klass += setup.workflow_status.css_class

              %tr{class: klass}
                %td= setup.platform_version
                %td= setup.assistive_technology_version
                %td= setup.browser_reader_version
                %td= setup.file_format
                %td= setup.renderer
                %td= labeled setup.workflow_status
                %td.text-right<
                  = link_to setup, class: "btn btn-show", title: "Show #{setup}" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  = link_to edit_setup_path(setup), class: "btn btn-edit", title: "Edit #{setup}"  do
                    %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                  = link_to setup, title: "Delete this Setup" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{setup}?"} do
                    %i.fa.fa-fw.fa-trash{title: "Trash can"}
                  = link_to new_setup_path(id: setup.id), class: 'btn' do
                    %i.fa.fa-fw.fa-mail-forward{title: 'forward arrow'}
                    %span.sr-only Copy this setup


        %nav.index-nav{role:"navigation"}
          = link_to new_setup_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Setup
      .col-md-6
        =render "search", q: @q
