-title = 'Listing setups'
-meta title: title
-#- source = setups_url
-#- caption = ""
-#- caption_twitter = ""
-#-description = ""
-#-thumb = ""
-#-keywords = %w{' '}
-#-meta title: title
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#img_size =  browser.mobile? ? :index : :grande
-#cache ['v1', editor?,  img_size, @setups] do
- cache ['v1', editor?,  @setups] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        = paginate @setups
        %table.index-table
          %caption.sr-only Index table for Setups
          %thead
            %tr
              %th{scope: "col"}<
                Platform 
              %th{scope: "col"}<
                Assistive technology 
              %th{scope: "col"}<
                Application
              %th{scope: "col"}<
                File format
              %th{scope: "col"}<
                Renderer
              %th{scope: "col"}<
                Testing Status
              %th{scope: "col"}<
                Actions

          %tbody
            - @setups.each_with_index do |setup, idx|
              - klass = "item "
              - klass += setup.workflow_status.css_class

              %tr{class: klass}
                %td= link_to setup.platform_version, platform_version_path(setup.platform_version)
                %td= link_to setup.assistive_technology_version, assistive_technology_path(setup.assistive_technology_version)
                %td= link_to setup.browser_reader_version, browser_reader_version_path(setup.browser_reader_version)
                %td= link_to setup.file_format, file_format_path(setup.file_format)
                %td= link_to setup.renderer, renderer_path(setup.renderer)
                %td= link_to labeled(setup.workflow_status), workflow_status_path(setup.workflow_status)
                %td.text-right<
                  .btn-group<
                    = link_to setup, class: "btn btn-show", title: "Show #{setup}" do
                      %i.fa.fa-fw.fa-eye
                    = link_to edit_setup_path(setup), class: "btn btn-edit", title: "Edit #{setup}"  do
                      %i.fa.fa-fw.fa-pencil
                    = link_to setup, title: "Delete this Setup" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{setup}?"} do
                      %i.fa.fa-fw.fa-trash{title: "Trash can"}
                    = link_to new_setup_path(id: setup.id), title: "Copy this setup", class: 'btn' do
                      %i.fa.fa-fw.fa-mail-forward


        %nav.index-nav{role:"navigation"}
          = link_to new_setup_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Setup
      .col-md-6
        =render "search", q: @q
