-title = "Showing  #{@setup}"
-meta title: title

-#- source = setup_url(@setup)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @setup] do

-cache ['v1', admin?,  @setup] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for Setup
          %tbody
            %tr
              %th{scope: "row"}<
                Platform version
              %td<
                = @setup.platform_version

            %tr
              %th{scope: "row"}<
                Renderer version
              %td<
                = @setup.renderer_version

            %tr
              %th{scope: "row"}<
                Browser reader version
              %td<
                = @setup.browser_reader_version

            %tr
              %th{scope: "row"}<
                Assistive technology version
              %td<
                = @setup.assistive_technology_version

            %tr
              %th{scope: "row"}<
                File format
              %td<
                = @setup.file_format

            %tr
              %th{scope: "row"}<
                Workflow status
              %td<
                = @setup.workflow_status

            %tr
              %th{scope: "row"}<
                Notes
              %td<
                = raw to_html(@setup.notes)

        %nav.show-nav{role:"navigation"}
          = link_to setups_path, class: 'btn btn-info', title: "View the setups index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Setups
          = link_to edit_setup_path(@setup), title: "Edit this Setup", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
          = link_to new_setup_path(@setup), class: 'btn btn-success' do
            Add another Setup
