-title = "Details about #{@setup}"
-meta title: title

-#- source = setup_url(@setup)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @setup] do

-cache ['v1', admin?,  @setup] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title

        .row
          .col-md-4
            .panel.panel-default
              %h2.panel-heading Selected setup
              %table.table
                %caption.sr-only Attributes for #{@setup}
                %tbody
                  %tr
                    %th{scope: "row"} Platform 
                    %td= link_to @setup.platform_version, platform_version_path(@setup.platform_version)
                  %tr
                    %th{scope: "row"} Assistive technology 
                    %td= link_to @setup.assistive_technology_version, assistive_technology_version_path(@setup.assistive_technology_version)
                  %tr
                    %th{scope: "row"} Reader 
                    %td= link_to @setup.browser_reader_version, browser_reader_version_path(@setup.browser_reader_version)
                  %tr
                    %th{scope: "row"} File format
                    %td= link_to @setup.file_format, file_format_path(@setup.file_format)
                  %tr
                    %th{scope: "row"} Renderer
                    %td= link_to @setup.renderer, renderer_path(@setup.renderer)
                  %tr
                    %th{scope: "row"} Workflow status
                    %td=labeled @setup.workflow_status

            .panel.panel-default
              %h2.panel-heading Capabilities
              %table.table
                %thead
                  %tr
                    %th{scope: 'col'}
                      Affordance
                    %th{scope: 'col'}
                      Verified?
                %tbody
                  - @setup.capabilities.for_setup.each do |capability|
                    = render "capabilities/capability", capability: capability

              -#-if admin? and @setup.capabilities.count < Affordance.all.count
                -#.panel-footer= link_to "Add another capability", new_capability_path(setup_id: @setup.id), class: 'btn btn-success'


          .col-md-8
            %h2 Notes
            = to_html(@setup.notes)

            -if @setup.content_sources.length > 0
              %h2 Content Sources
              %ul
                - @setup.content_sources.each do |c|
                  %li= link_to c, content_source_path(c)

        -if admin?
          %nav.show-nav{role:"navigation"}
            = link_to edit_setup_path(@setup), title: "Edit this Setup", class: 'btn btn-primary' do
              %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
              Edit
            = link_to setups_path, class: 'btn btn-info', title: "View the setups index" do
              %i.fa.fa-fw.fa-list{title: 'List'}
              Setups
            = link_to new_setup_path, class: 'btn btn-success' do
              %i.fa.fa-fw.fa-plus{title: 'plus'}
              Add another Setup
            = link_to new_setup_path(id: @setup.id), class: 'btn btn-success' do
              %i.fa.fa-fw.fa-mail-forward{title: 'forward arrow'}
              Copy this setup

        -#%h3 Content Sources
        -#%ul
        -#- @setup.content_sources.each do |c|
          -#%li= link_to c, content_source_path(c)
