-title = "Showing  #{@assistive_technology_version}"
-meta title: title

-#- source = assistive_technology_version_url(@assistive_technology_version)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @assistive_technology_version] do

-cache ['v1', admin?,  @assistive_technology_version] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        - object = @assistive_technology_version
        - parent = link_to @assistive_technology_version.assistive_technology, assistive_technology_path( @assistive_technology_version.assistive_technology)
        = render "version", object: object, parent: parent
        -if admin?
          %nav.show-nav{role:"navigation"}
            = link_to assistive_technology_versions_path, class: 'btn btn-info', title: "View the assistive_technology_versions index" do
              %i.fa.fa-fw.fa-list{title: 'List'}
              Assistive Technology Versions
            = link_to edit_assistive_technology_version_path(@assistive_technology_version), title: "Edit this Assistive Technology Version", class: 'btn btn-primary' do
              %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
              Edit
            = link_to new_assistive_technology_version_path(assistive_technology_id: @assistive_technology_version.assistive_technology_id), class: 'btn btn-success' do
              Add another Assistive Technology Version
