-title = 'Listing Configurations'
-meta title: title
- cache ['v1', admin?,  @configurations] do
  .index-outer
    .index
      .index-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for configurations
          %thead
            %tr
              %th{scope: "col"}<
                Platform version
              %th{scope: "col"}<
                Renderer version
              %th{scope: "col"}<
                Browser reader version
              %th{scope: "col"}<
                Assistive technology version
              %th{scope: "col"}<
                Platform version
              %th{scope: "col"}<
                Format
              %th{scope: "col"}<
                Workflow status
              %th{scope: "col"}<
                Actions

          %tbody
            - @configurations.each_with_index do |configuration, idx|
              %tr{class: "item"}
                %td= configuration.platform_version
                %td= configuration.renderer_version
                %td= configuration.browser_reader_version
                %td= configuration.assistive_technology_version
                %td= configuration.platform_version
                %td= configuration.format
                %td= configuration.workflow_status
                %td.text-right<
                  = link_to configuration, class: "btn btn-show", title: "Show this configuration" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  = link_to edit_configuration_path(configuration), class: "btn btn-edit", title: "Edit this configuration"  do
                    %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                  = link_to configuration, title: "Delete this configuration" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{configuration}?"} do
                    %i.fa.fa-fw.fa-trash{title: "Trash can"}

        %nav.index-nav{role:"navigation"}
          = link_to new_configuration_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Configuration
