-title = "Showing  #{@configuration}"
-meta title: title
-cache ['v1', admin?,  @configuration] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Key value pairs for this configuration
          %tbody
            %tr
              %th{scope: "row"}<
                Platform version
              %td<
                = @configuration.platform_version
            %tr
              %th{scope: "row"}<
                Renderer version
              %td<
                = @configuration.renderer_version
            %tr
              %th{scope: "row"}<
                Browser reader version
              %td<
                = @configuration.browser_reader_version
            %tr
              %th{scope: "row"}<
                Assistive technology version
              %td<
                = @configuration.assistive_technology_version
            %tr
              %th{scope: "row"}<
                Platform version
              %td<
                = @configuration.platform_version
            %tr
              %th{scope: "row"}<
                Format
              %td<
                = @configuration.format
            %tr
              %th{scope: "row"}<
                Workflow status
              %td<
                = @configuration.workflow_status
        %nav.show-nav{role:"navigation"}
          = link_to configurations_path, class: 'btn btn-info', title: "View the configurations index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Configurations
          = link_to edit_configuration_path(@configuration), title: "Edit this configuration", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
