-title = "Showing  #{@verification_status}"
-meta title: title
-cache ['v1', admin?,  @verification_status] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for Verification Status
          %tbody
            %tr
              %th{scope: "row"}<
                Title
              %td<
                = @verification_status.title

        %nav.show-nav{role:"navigation"}
          = link_to verification_statuses_path, class: 'btn btn-info', title: "View the verification_statuses index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Verification Statuses
          = link_to edit_verification_status_path(@verification_status), title: "Edit this Verification Status", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
          = link_to new_verification_status_path(@verification_status), class: 'btn btn-success' do
            Add another Verification Status
