-title = 'Listing Content Sources'
-meta title: title
-#- source = content_sources_url
-#- caption = ""
-#- caption_twitter = ""
-#-description = ""
-#-thumb = ""
-#-keywords = %w{' '}
-#-meta title: title
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#img_size =  browser.mobile? ? :index : :grande
-#cache ['v1', admin?,  img_size, @content_sources] do
- cache ['v1', admin?,  @content_sources] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for Content Sources
          %thead
            %tr
              %th{scope: "col"}<
                Title
              %th{scope: "col"}<
                Notes
              %th{scope: "col"}<
                Actions

          %tbody
            - @content_sources.each_with_index do |content_source, idx|
              %tr{class: "item"}
                %td= content_source.title
                %td= content_source.notes
                %td.text-right<
                  = link_to content_source, class: "btn btn-show", title: "Show #{content_source}" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  = link_to edit_content_source_path(content_source), class: "btn btn-edit", title: "Edit #{content_source}"  do
                    %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                  = link_to content_source, title: "Delete this Content Source" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{content_source}?"} do
                    %i.fa.fa-fw.fa-trash{title: "Trash can"}

        %nav.index-nav{role:"navigation"}
          = link_to new_content_source_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Content source
