<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content_source.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content_source.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @content_source.link %>
</p>

<p>
  <strong>Version:</strong>
  <%= @content_source.version %>
</p>

<%= link_to 'Edit', edit_content_source_path(@content_source) %> |
<%= link_to 'Back', content_sources_path %>
