<p id="notice"><%= notice %></p>

<h1>Listing ContentFormats</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_formats.each do |content_format| %>
      <tr>
        <td><%= content_format.title %></td>
        <td><%= content_format.description %></td>
        <td><%= content_format.link %></td>
        <td><%= content_format.version %></td>
        <td><%= link_to 'Show', content_format %></td>
        <td><%= link_to 'Edit', edit_content_format_path(content_format) %></td>
        <td><%= link_to 'Destroy', content_format, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New ContentFormat', new_content_format_path %>
