-title = 'Listing Platform Browser Readers'
-meta title: title
- cache ['v1', admin?,  @platform_browser_readers] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for platform_browser_readers
          %thead
            %tr
              %th{scope: "col"}<
                Platform
              %th{scope: "col"}<
                Browser reader
              %th{scope: "col"}<
                Actions

          %tbody
            - @platform_browser_readers.each_with_index do |platform_browser_reader, idx|
              %tr{class: "item"}
                %td= platform_browser_reader.platform
                %td= platform_browser_reader.browser_reader
                %td.text-right<
                  = link_to platform_browser_reader, class: "btn btn-show", title: "Show this platform_browser_reader" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  = link_to edit_platform_browser_reader_path(platform_browser_reader), class: "btn btn-edit", title: "Edit this platform_browser_reader"  do
                    %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                  = link_to platform_browser_reader, title: "Delete this platform_browser_reader" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{platform_browser_reader}?"} do
                    %i.fa.fa-fw.fa-trash{title: "Trash can"}

        %nav.index-nav{role:"navigation"}
          = link_to new_platform_browser_reader_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Platform browser reader
