-title = "Showing  #{@content_source_configuration}"
-meta title: title
-cache ['v1', admin?,  @content_source_configuration] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Key value pairs for this content_source_configuration
          %tbody
            %tr
              %th{scope: "row"}<
                Configuration
              %td<
                = @content_source_configuration.configuration
            %tr
              %th{scope: "row"}<
                Content source
              %td<
                = @content_source_configuration.content_source
        %nav.show-nav{role:"navigation"}
          = link_to content_source_configurations_path, class: 'btn btn-info', title: "View the content_source_configurations index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Content Source Configurations
          = link_to edit_content_source_configuration_path(@content_source_configuration), title: "Edit this content_source_configuration", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
