<p id="notice"><%= notice %></p>

<h1>Listing Browser Readers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @browser_readers.each do |browser_reader| %>
      <tr>
        <td><%= browser_reader.title %></td>
        <td><%= browser_reader.description %></td>
        <td><%= browser_reader.link %></td>
        <td><%= browser_reader.version %></td>
        <td><%= link_to 'Show', browser_reader %></td>
        <td><%= link_to 'Edit', edit_browser_reader_path(browser_reader) %></td>
        <td><%= link_to 'Destroy', browser_reader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Browser reader', new_browser_reader_path %>
