-title = "Showing  #{@browser_reader}"
-meta title: title

-#- source = browser_reader_url(@browser_reader)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @browser_reader] do

-cache ['v1', admin?,  @browser_reader] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title

        -object = @browser_reader
        -multi = ["assistive_technologies", "file_formats", "platforms", "renderers"]

        = render "entity", object: object, multi: multi
        = render "versions", object: object

        %nav.show-nav{role:"navigation"}
          = link_to browser_readers_path, class: 'btn btn-info', title: "View the browser_readers index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Applications
          -if admin?
            = link_to edit_browser_reader_path(@browser_reader), title: "Edit this Application", class: 'btn btn-primary' do
              %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
              Edit
            = link_to new_browser_reader_path(@browser_reader), class: 'btn btn-success' do
              Add another Application
