<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @browser_reader.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @browser_reader.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @browser_reader.link %>
</p>

<p>
  <strong>Version:</strong>
  <%= @browser_reader.version %>
</p>

<%= link_to 'Edit', edit_browser_reader_path(@browser_reader) %> |
<%= link_to 'Back', browser_readers_path %>
