-title = "Showing  #{@renderer_version}"
-meta title: title

-#- source = renderer_version_url(@renderer_version)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @renderer_version] do

-cache ['v1', admin?,  @renderer_version] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}
            =title
            
        - object = @renderer_version
        - parent= link_to @renderer_version.renderer, renderer_path( @renderer_version.renderer)
        = render "version", object: object, parent: parent

        -if current_user
          %nav.show-nav{role:"navigation"}
            = link_to renderer_versions_path, class: 'btn btn-info', title: "View the renderer_versions index" do
              %i.fa.fa-fw.fa-list{title: 'List'}
              Renderer Versions
            = link_to edit_renderer_version_path(@renderer_version), title: "Edit this Renderer Version", class: 'btn btn-primary' do
              %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
              Edit
            = link_to new_renderer_version_path(@renderer_version), class: 'btn btn-success' do
              Add another Renderer Version
