<p id="notice"><%= notice %></p>

<h1>Listing Renderers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @renderers.each do |renderer| %>
      <tr>
        <td><%= renderer.title %></td>
        <td><%= renderer.description %></td>
        <td><%= renderer.link %></td>
        <td><%= renderer.version %></td>
        <td><%= link_to 'Show', renderer %></td>
        <td><%= link_to 'Edit', edit_renderer_path(renderer) %></td>
        <td><%= link_to 'Destroy', renderer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Renderer', new_renderer_path %>
