<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @renderer.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @renderer.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @renderer.link %>
</p>

<p>
  <strong>Version:</strong>
  <%= @renderer.version %>
</p>

<%= link_to 'Edit', edit_renderer_path(@renderer) %> |
<%= link_to 'Back', renderers_path %>
