-title = "Showing  #{@<%= singular_table_name %>}"
-meta title: title

-#- source = <%= singular_table_name %>_url(@<%= singular_table_name %>)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @<%= singular_table_name %>] do

-cache ['v1', admin?,  @<%= singular_table_name %>] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for <%= singular_table_name.titleize %>
          %tbody
<% for attribute in attributes -%>
            %tr
              %th{scope: "row"}<
                <%= attribute.human_name %>
              %td<
<% if attribute.name == 'notes' -%>
                = raw to_html(@<%= singular_table_name %>.notes)
<% else -%>
                = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

<% end -%>
        %nav.show-nav{role:"navigation"}
          = link_to <%= index_helper %>_path, class: 'btn btn-info', title: "View the <%= plural_table_name%> index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            <%= plural_table_name.titleize %>
          = link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), title: "Edit this <%= singular_table_name.titleize %>", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
          = link_to new_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-success' do
            Add another <%= singular_table_name.titleize %>
