-title = 'Listing Browser Reader Formats'
-meta title: title
- cache ['v1', admin?,  @browser_reader_formats] do
  .index-outer
    .index
      .index-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for browser_reader_formats
          %thead
            %tr
              %th{scope: "col"}<
                Browser reader
              %th{scope: "col"}<
                Format
              %th{scope: "col"}<
                Actions

          %tbody
            - @browser_reader_formats.each_with_index do |browser_reader_format, idx|
              %tr{class: "item"}
                %td= browser_reader_format.browser_reader
                %td= browser_reader_format.format
                %td.text-right<
                  = link_to browser_reader_format, class: "btn btn-show", title: "Show this browser_reader_format" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  = link_to edit_browser_reader_format_path(browser_reader_format), class: "btn btn-edit", title: "Edit this browser_reader_format"  do
                    %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                  = link_to browser_reader_format, title: "Delete this browser_reader_format" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{browser_reader_format}?"} do
                    %i.fa.fa-fw.fa-trash{title: "Trash can"}

        %nav.index-nav{role:"navigation"}
          = link_to new_browser_reader_format_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Browser reader format
