-title = "Showing  #{@browser_reader_format}"
-meta title: title
-cache ['v1', admin?,  @browser_reader_format] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Key value pairs for this browser_reader_format
          %tbody
            %tr
              %th{scope: "row"}<
                Browser reader
              %td<
                = @browser_reader_format.browser_reader
            %tr
              %th{scope: "row"}<
                Format
              %td<
                = @browser_reader_format.format
        %nav.show-nav{role:"navigation"}
          = link_to browser_reader_formats_path, class: 'btn btn-info', title: "View the browser_reader_formats index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Browser Reader Formats
          = link_to edit_browser_reader_format_path(@browser_reader_format), title: "Edit this browser_reader_format", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
