-title = "Showing  #{@platform_version}"
-meta title: title

-#- source = platform_version_url(@platform_version)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @platform_version] do

-cache ['v1', admin?,  @platform_version] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        - object = @platform_version
        - parent= link_to @platform_version.platform, platform_path( @platform_version.platform)
        = render "version", object: object, parent: parent

        -if admin?
          %nav.show-nav{role:"navigation"}
            = link_to platform_versions_path, class: 'btn btn-info', title: "View the platform_versions index" do
              %i.fa.fa-fw.fa-list{title: 'List'}
              Platform Versions
            = link_to edit_platform_version_path(@platform_version), title: "Edit this Platform Version", class: 'btn btn-primary' do
              %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
              Edit
            = link_to new_platform_version_path(platform_id: @platform_version.platform_id), class: 'btn btn-success' do
              Add another Platform Version
