-title = "Showing  #{@workflow_status}"
-meta title: title
-cache ['v1', admin?,  @workflow_status] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for Workflow Status
          %tbody
            %tr
              %th{scope: "row"}<
                Title
              %td<
                = @workflow_status.title

        %nav.show-nav{role:"navigation"}
          = link_to workflow_statuses_path, class: 'btn btn-info', title: "View the workflow_statuses index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Workflow Statuses
          = link_to edit_workflow_status_path(@workflow_status), title: "Edit this Workflow Status", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
          = link_to new_workflow_status_path(@workflow_status), class: 'btn btn-success' do
            Add another Workflow Status
