-title = "Showing  #{@browser_reader_file_format}"
-meta title: title

-#- source = browser_reader_file_format_url(@browser_reader_file_format)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', editor?,  img_size, @browser_reader_file_format] do

-cache ['v1', editor?,  @browser_reader_file_format] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for Application File Format
          %tbody
            %tr
              %th{scope: "row"}<
                Application
              %td<
                = @browser_reader_file_format.browser_reader

            %tr
              %th{scope: "row"}<
                File format
              %td<
                = @browser_reader_file_format.file_format

        %nav.show-nav{role:"navigation"}
          = link_to browser_reader_file_formats_path, class: 'btn btn-info', title: "View the browser_reader_file_formats index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Application File Formats
          = link_to edit_browser_reader_file_format_path(@browser_reader_file_format), title: "Edit this Application File Format", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
          = link_to new_browser_reader_file_format_path(@browser_reader_file_format), class: 'btn btn-success' do
            Add another Application File Format
