-title = "Showing  #{@technology}"
-meta title: title
-cache ['v1', admin?,  @technology] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Key value pairs for this technology
          %tbody
            %tr
              %th{scope: "row"}<
                Title
              %td<
                = @technology.title
            %tr
              %th{scope: "row"}<
                Notes
              %td<
                = @technology.notes
        %nav.show-nav{role:"navigation"}
          = link_to technologies_path, class: 'btn btn-info', title: "View the technologies index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Technologies
          = link_to edit_technology_path(@technology), title: "Edit this technology", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
