-title = "Showing  #{@browser_reader_renderer}"
-meta title: title

-#- source = browser_reader_renderer_url(@browser_reader_renderer)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @browser_reader_renderer] do

-cache ['v1', admin?,  @browser_reader_renderer] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for Application Renderer
          %tbody
            %tr
              %th{scope: "row"}<
                Application
              %td<
                = @browser_reader_renderer.browser_reader

            %tr
              %th{scope: "row"}<
                Renderer
              %td<
                = @browser_reader_renderer.renderer

        %nav.show-nav{role:"navigation"}
          = link_to browser_reader_renderers_path, class: 'btn btn-info', title: "View the browser_reader_renderers index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Application Renderers
          = link_to edit_browser_reader_renderer_path(@browser_reader_renderer), title: "Edit this Application Renderer", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
          = link_to new_browser_reader_renderer_path(@browser_reader_renderer), class: 'btn btn-success' do
            Add another Application Renderer
