-title = "Showing  #{@affordance}"
-meta title: title

-#- source = affordance_url(@affordance)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @affordance] do

-cache ['v1', admin?,  @affordance] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title

        -object = @affordance
        -multi = ["browser_readers"]
        -if !@affordance.notes.blank?
          %h2 Notes
          = to_html @affordance.notes
        -if !current_user
          - capabilities = @affordance.capabilities.collect{|c| c if [2, 3, 4].include? c.setup.workflow_status_id }.compact
        -else
          - capabilities = @affordance.capabilities
        - if capabilities.length > 0
          .panel.panel-default
            %h2.panel-heading Setups
            %table.table
              %caption.sr-only Setups table 
              %thead
                %tr<
                  %th Verification Status
                  %th Platform
                  %th Assistive Technology
                  %th Application
                  %th File Format
                  %th Renderer
                  %th Link
              %tbody
                - capabilities.each do |c|
                  - setup = c.setup
                  - klass = "item "
                  - klass += c.verification_status ? "success" : "warning"

                  %tr{class: klass}<
                    %td<
                      - klass ='label label-' 
                      - klass += c.verification_status ? "success" : "warning"
                      %span{class: klass}= c.verification_text
                    %td= setup.platform_version
                    %td= setup.assistive_technology_version
                    %td= setup.browser_reader_version
                    %td= setup.file_format
                    %td= setup.renderer
                    %td<
                      =link_to setup_path(setup), class: 'btn btn-primary' do
                        Details





        %nav.show-nav{role:"navigation"}
          = link_to affordances_path, class: 'btn btn-info', title: "View the affordances index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Affordances
          -if admin?
            = link_to edit_affordance_path(@affordance), title: "Edit this Affordance", class: 'btn btn-primary' do
              %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
              Edit
            = link_to new_affordance_path(@affordance), class: 'btn btn-success' do
              Add another Affordance
