-title = "Showing  #{@affordance}"
-meta title: title

-#- source = affordance_url(@affordance)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @affordance] do

-cache ['v1', admin?,  @affordance] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for Affordance
          %tbody
            %tr
              %th{scope: "row"}<
                Feature
              %td<
                = @affordance.feature

            %tr
              %th{scope: "row"}<
                Output
              %td<
                = @affordance.output

        %nav.show-nav{role:"navigation"}
          = link_to affordances_path, class: 'btn btn-info', title: "View the affordances index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Affordances
          = link_to edit_affordance_path(@affordance), title: "Edit this Affordance", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
          = link_to new_affordance_path(@affordance), class: 'btn btn-success' do
            Add another Affordance
