-title = "Showing  #{@capability}"
-meta title: title

-#- source = capability_url(@capability)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @capability] do

-cache ['v1', admin?,  @capability] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for Capability
          %tbody
            %tr
              %th{scope: "row"}<
                Affordance
              %td<= link_to @capability.affordance, affordance_path(@capability.affordance)

            %tr
              %th{scope: "row"}<
                Setup
              %td<= link_to @capability.setup, setup_path(@capability.setup)

            %tr
              %th{scope: "row"}<
                Verification status
              %td<
                = labeled @capability.verification_status

        %nav.show-nav{role:"navigation"}
          = link_to capabilities_path, class: 'btn btn-info', title: "View the capabilities index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Capabilities
          = link_to edit_capability_path(@capability), title: "Edit this Capability", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
          = link_to new_capability_path(setup_id: @capability.setup.id), class: 'btn btn-success' do
            Add another Capability for this setup
