.container
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "bs-navbar", "aria-expanded" => "false", "data-target" => "#bs-navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"} Math Support Matrix
  %nav#bs-navbar.collapse.navbar-collapse{role: "navigation"}
    %h2.sr-only Navigation
    %ul.nav.navbar-nav
      -if admin?
        - models = ["setups", "capabilities", "content_source_setups", "affordances", "assistive_technologies", "browser_readers", 
          "browser_reader_assistive_technologies", "browser_reader_file_formats", "browser_reader_renderers", 
          "content_sources", "features", "outputs", "file_formats", "platform_assistive_technologies", 
          "platforms", "platform_browser_readers", "renderers", "verification_statuses", "workflow_statuses"] #user
        - versions =["platform_versions", "browser_reader_versions", "assistive_technology_versions", "renderer_versions"]
        - models += versions
        - models.each do |m|
          %li<
            = link_to  m.titleize, send("#{m}_path")
    .navbar-right
      -if current_user
        %p.navbar-text
          Hello
          = link_to root_path, class: "navbar-link" do
            =current_user

      %h2.sr-only Global Actions
      %ul.nav.navbar-nav
        %li<
          %a{href: "mailto:math-support-matrix@seeread.info", target: "_blank"}
            %i.fa.fa-fw.fa-support
            Support

        - if current_user
          %li<
            = link_to destroy_user_session_path, :method => :delete do 
              %i.fa.fa-fw.fa-sign-out
              Log out
        - else
          %li<
            = link_to user_session_path do
              %i.fa.fa-fw.fa-sign-in
              Log in
