.container
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "bs-navbar", "aria-expanded" => "false", "data-target" => "#bs-navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"}
      Math Support Finder BETA
      .row
        A Benetech  Initiative
  %nav#bs-navbar.collapse.navbar-collapse{role: "navigation"}
    %h2.sr-only Navigation
    %ul.nav.navbar-nav
      %li<
        = link_to results_setups_path, class: "" do
          Browse
      -if admin?
        %li<
          = link_to "Setups", setups_path
        %li.dropdown{:role => "presentation"}<
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}<
            Components
            %span.caret
          %ul.dropdown-menu
            - models = [ "platforms", "assistive_technologies", "browser_readers",  "file_formats", "renderers", "affordances", "features", "outputs", "content_sources"]
            - models.each do |m|
              - if m == "browser_readers"
                %li= link_to  "Applications", send("#{m}_path")
              - else
                %li= link_to  m.titleize, send("#{m}_path")

      %li=link_to "About", page_path('about')

    %h2.sr-only Global Actions
    .navbar-right
      - if current_user
        %p.navbar-text
          Hello
          =current_user
      %ul.nav.navbar-nav
        %li<
          %a{href: "http://surveygizmo.com/s3/2310294/Math-Support-Matrix-User-Feedback", target: "_blank"}
            %i.fa.fa-fw.fa-support
            Survey 
          
        %li<
          %a{href: "mailto:msf@mathmlcloud.org", target: "_blank"}
            %i.fa.fa-fw.fa-envelope
            Email
            
        - if current_user
          %li<
            = link_to destroy_user_session_path, :method => :delete do 
              %i.fa.fa-fw.fa-sign-out
              Log Out
        - else
          %li<
            = link_to user_session_path do
              %i.fa.fa-fw.fa-sign-in
              Log In
          %li<
            = link_to "/users/sign_up.html" do
              Sign Up
