<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Support Matrix</title>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Support Matrix</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome to the Math Reading Support Finder!</h1>
                <p class="lead">Technology required to properly display and voice digital mathematics involves a complex matrix of readers/browsers, assistive technology, and rendering software. Find out what combination of tools can be used to access such content.</p>
                <p class="lead">Select your preferred formats and technologies for accessing math content.</p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <h1>Search for supported configurations</h1>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Desired Interaction</h3>
                </div>
                <div class="panel-body">
                    <div class="center-block form-horizontal" style="max-width: 640px">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Access Mode
                                    </label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Secondary Details
                                    </label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Technology Requirements</h3>
                </div>
                <div class="panel-body">
                    <div class="center-block form-horizontal" style="max-width: 600px">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Assistive Technology
                                    </label>
                                    <div class="col-sm-6">
                                        <%= collection_select("", "", @assistive_technologies.all, :id, :title, {}, {class: "form-control"}) %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Version
                                    </label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Platform
                                    </label>
                                    <div class="col-sm-6">
                                        <%= collection_select("", "", @platforms.all, :id, :title, {}, {class: "form-control"}) %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Version
                                    </label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Reader
                                    </label>
                                    <div class="col-sm-6">
                                        <%= collection_select("", "", @readers.all, :id, :title, {}, {class: "form-control"}) %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Version
                                    </label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Renderer
                                    </label>
                                    <div class="col-sm-6">
                                        <%= collection_select("", "", @renderers.all, :id, :title, {}, {class: "form-control"}) %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Version
                                    </label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Content Format
                                    </label>
                                    <div class="col-sm-6">
                                        <%= collection_select("", "", @content_formats.all, :id, :title, {}, {class: "form-control"}) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row pull-right">
            <div class="col-lg-12">
                <button class="btn btn-default" type="button">Clear all</button>
                <input class="btn btn-primary" type="submit" value="Search">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled text-center">
                    <li>Benetech</li>
                    <li>2015</li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</body>

</html>
