-title = 'Listing Outputs'
-meta title: title
-#- source = outputs_url
-#- caption = ""
-#- caption_twitter = ""
-#-description = ""
-#-thumb = ""
-#-keywords = %w{' '}
-#-meta title: title
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#img_size =  browser.mobile? ? :index : :grande
-#cache ['v1', editor?,  img_size, @outputs] do
- cache ['v1', editor?,  @outputs] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for Outputs
          %thead
            %tr
              %th{scope: "col"}<
                Title
              %th{scope: "col"}<
                Actions

          %tbody
            - @outputs.each_with_index do |output, idx|
              %tr{class: "item"}
                %td= output.title

                %td.text-right<
                  = link_to output, class: "btn btn-show", title: "Show #{output}" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  -if editor?
                    = link_to edit_output_path(output), class: "btn btn-edit", title: "Edit #{output}"  do
                      %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                    = link_to output, title: "Delete this Output" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{output}?"} do
                      %i.fa.fa-fw.fa-trash{title: "Trash can"}

        -if editor?
          %nav.index-nav{role:"navigation"}
            = link_to new_output_path, class: 'btn btn-success new-link' do
              %i.fa.fa-fw.fa-plus{title: "Plus"}
              New Output
