-title = 'Listing Outputs'
-meta title: title
- cache ['v1', admin?,  @outputs] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.index-table
          %caption.sr-only Index table for Outputs
          %thead
            %tr
              %th{scope: "col"}<
                Title
              %th{scope: "col"}<
                Notes
              %th{scope: "col"}<
                Actions

          %tbody
            - @outputs.each_with_index do |output, idx|
              %tr{class: "item"}
                %td= output.title
                %td= output.notes
                %td.text-right<
                  = link_to output, class: "btn btn-show", title: "Show this output" do
                    %i.fa.fa-fw.fa-eye{title: "Eye"}
                  = link_to edit_output_path(output), class: "btn btn-edit", title: "Edit this output"  do
                    %i.fa.fa-fw.fa-pencil{title: "Pencil"}
                  = link_to output, title: "Delete this output" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{Output}?"} do
                    %i.fa.fa-fw.fa-trash{title: "Trash can"}

        %nav.index-nav{role:"navigation"}
          = link_to new_output_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Output
