<p id="notice"><%= notice %></p>

<h1>Listing Matrix Entries</h1>

<table>
  <thead>
    <tr>
      <th>Browser reader</th>
      <th>Renderer</th>
      <th>Format</th>
      <th>Platform</th>
      <th>Assistive technology</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matrix_entries.each do |matrix_entry| %>
      <tr>
        <td><%= matrix_entry.browser_reader %></td>
        <td><%= matrix_entry.renderer %></td>
        <td><%= matrix_entry.format %></td>
        <td><%= matrix_entry.platform %></td>
        <td><%= matrix_entry.assistive_technology %></td>
        <td><%= link_to 'Show', matrix_entry %></td>
        <td><%= link_to 'Edit', edit_matrix_entry_path(matrix_entry) %></td>
        <td><%= link_to 'Destroy', matrix_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matrix entry', new_matrix_entry_path %>
