-title = "Showing  #{@feature}"
-meta title: title

-#- source = feature_url(@feature)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @feature] do

-cache ['v1', admin?,  @feature] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for Feature
          %tbody
            %tr
              %th{scope: "row"}<
                Title
              %td<
                = @feature.title

            -object = @feature
            -multi = ["outputs"]
            = render "multi", multi: multi, object: object


        %nav.show-nav{role:"navigation"}
          = link_to features_path, class: 'btn btn-info', title: "View the features index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Features
          -if admin?
            = link_to edit_feature_path(@feature), title: "Edit this Feature", class: 'btn btn-primary' do
              %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
              Edit
            = link_to new_feature_path(@feature), class: 'btn btn-success' do
              Add another Feature
