<%= form_for(@assistive_technology) do |f| %>
  <% if @assistive_technology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistive_technology.errors.count, "error") %> prohibited this assistive_technology from being saved:</h2>

      <ul>
      <% @assistive_technology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :platform_id %><br>
    <%= f.collection_select(:platform_id, @platforms.all, :id, :title_with_version) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
