<p id="notice"><%= notice %></p>

<h1>Listing Assistive Technologies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Version</th>
      <th>Platform</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assistive_technologies.each do |assistive_technology| %>
      <tr>
        <td><%= assistive_technology.title %></td>
        <td><%= assistive_technology.description %></td>
        <td><%= assistive_technology.link %></td>
        <td><%= assistive_technology.version %></td>
        <td><%= assistive_technology.platform %></td>
        <td><%= link_to 'Show', assistive_technology %></td>
        <td><%= link_to 'Edit', edit_assistive_technology_path(assistive_technology) %></td>
        <td><%= link_to 'Destroy', assistive_technology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assistive technology', new_assistive_technology_path %>
