-title = "Showing  #{@assistive_technology}"
-meta title: title

-#- source = assistive_technology_url(@assistive_technology)
-#- caption = ""
-#- caption_twitter = ""
-#- description = ""
-#- thumb = ""
-#- keywords = %w{' '}
-#- meta title: title,
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#- img_size =  browser.mobile? ? :index : :grande
-#-cache ['v1', admin?,  img_size, @assistive_technology] do

-cache ['v1', admin?,  @assistive_technology] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Attributes for Assistive Technology
          %tbody
            %tr
              %th{scope: "row"}<
                Title
              %td<
                = @assistive_technology.title

            %tr
              %th{scope: "row"}<
                Notes
              %td<
                = raw to_html(@assistive_technology.notes)
            -object = @assistive_technology
            -multi = ["browser_readers", "platforms"]
            = render "multi", multi: multi, object: object

        -object = @assistive_technology
        = render "versions", object: object

        %nav.show-nav{role:"navigation"}
          = link_to assistive_technologies_path, class: 'btn btn-info', title: "View the assistive_technologies index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Assistive Technologies
          = link_to edit_assistive_technology_path(@assistive_technology), title: "Edit this Assistive Technology", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
          = link_to new_assistive_technology_path(@assistive_technology), class: 'btn btn-success' do
            Add another Assistive Technology
